.PopularProjects {
    padding: 3% 13%;
}

.PopularProjects h3 {
    font-weight: 700;
    color: #0a2b14;
}

.Popular-Projects-Cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px; 
  }

.Project-Card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 3%;
    overflow: hidden;
}

.Project-img {
    width: 100%;
}

.Project-info {
    padding: 10%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #f5f7f6;
}


.Project-info h5 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #0a2b14;
}

.Project-info p {
    font-size: 0.9rem;
    color: #0a2b14;
}