.goalsCards {
    display: flex;
    flex-direction: column;
}

.goalsCard {
  border-radius: 18.472px;
  border: 0.924px solid var(--Stroke-Color, #a7a7a7);
  background: #fff;
  width: 100%;
  padding: 2%;
  margin-bottom: 3rem;
}

.task-to-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

.task-to-do-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
  cursor: pointer;
}

.task {
  cursor: pointer;
}

.task-to-do-deadline {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: -2%;
}
