.Search-Bar-section {
  width: 100%;
  border-radius: 1.1545rem;
  border: 0.924px solid var(--Stroke-Color, #a7a7a7);
  background: #fff;
  margin: 2% 0%;
  padding: 1%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.Search-Bar {
  width: 70%;
  border-radius: 0.5rem;
  border: 1px solid var(--Primary-Primary-850, #dae3f8);

  display: flex;
  height: 2rem;
  padding: 1.5rem;
  padding-left: 3rem;
  margin-left: -1rem;
}

.search-icon {
  position: relative;
  left: 1rem;
}

.Add-Service {
  color: var(--White, #fefefe);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  border-radius: 0.5rem;
  border: none;
  background: var(--Primary-Primary-500, #3788e5);

  display: flex;
  height: 100%;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;

  position: relative;
  right: -20%;
}

.Add-Service:hover {
  border: 1px solid #3788e5;
  background-color: white;
  color: #3788e5;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 56.3125rem;
  height: auto;
}

.modal-content h5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  color: #0b1c33;
  margin-top: -5%;
}

.modal-content p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 140%;
  color: #0b1c33;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: 52rem;
  top: -1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#service-input {
  border-radius: 0.3125rem;
  border: 0.924px solid #a7a7a7;
  background: #fff;
  box-shadow: 0px 4.618px 18.472px 0px rgba(0, 0, 0, 0.05);

  width: 100%;
  padding: 0.8125rem 0.875rem 0.875rem 1.0625rem;
  height: 3rem;
  align-items: center;
  margin-bottom: 3%;
}

.add-service-form {
  margin-top: 1%;
}

.file-input {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.924px solid #a7a7a7;
  background: #fff;
  box-shadow: 0px 4.618px 18.472px 0px rgba(0, 0, 0, 0.05);
}

.real-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button {
  text-align: center;
  color: #3788e5;
}

.button span {
  color: black;
}

.Add-Service-btn {
  color: var(--White, #fefefe);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  border-radius: 0.5rem;
  border: 1px solid #3788e5;
  background: var(--Primary-Primary-500, #3788e5);

  display: flex;
  height: 100%;
  width: 6rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

  position: relative;
  left: 45%;
}

.Add-Service-btn:hover {
  border: 1px solid #3788e5;
  background-color: white;
  color: #3788e5;
}

.Add-New-goal-btn {
  color: var(--White, #fefefe);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  border-radius: 0.5rem;
  border: 1px solid #3788e5;
  background: var(--Primary-Primary-500, #3788e5);

  display: flex;
  height: 100%;
  width: 6rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
  margin-bottom: 3%;

  position: relative;
  left: 88.5%;
}

.Add-New-goal-btn:hover {
  border: 1px solid #3788e5;
  background-color: white;
  color: #3788e5;
}

.category {
  width: 100%;
  height: 3rem;
  border-radius: 0.3125rem;
  border: 0.924px solid #a7a7a7;
  background: #fff;
  box-shadow: 0px 4.618px 18.472px 0px rgba(0, 0, 0, 0.05);
  padding-right: 1.0625rem;
  padding-left: 1.0625rem;
}
