body{
  overflow-x: hidden;
}

.custom-navbar {
  background-color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 0.5% 13%;
}

.nav-brand {
  font-weight: 700;
  color: #000000;
  text-decoration: none !important;
}

.custom-nav-links {
  margin-left: auto;
  width: 29rem;
}

.custom-nav-links .nav-link.active {
    color: #0d7a5f;
    background-color: transparent;
  }

.custom-nav-links .nav-link {
  color: black;
  font-weight: 600;
  border: none;
}

.custom-nav-links .nav-link:hover {
  color: #0d7a5f;
  background-color: transparent;
}

#nav-link-1 {
  margin-right: -5% !important;
}

#become-tasker {
  border: #0d7a5f 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d7a5f;
}

#become-tasker:hover {
  background-color: #0d7a5f !important;
  color: white;
}
